<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginEcommerceServlet</display-name>
    <servlet-name>LoginEcommerceServlet</servlet-name>
    <servlet-class>com.controller.LoginEcommerceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEcommerceServlet</servlet-name>
    <url-pattern>/LoginEcommerceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpEcommerceServlet</display-name>
    <servlet-name>SignUpEcommerceServlet</servlet-name>
    <servlet-class>com.controller.SignUpEcommerceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpEcommerceServlet</servlet-name>
    <url-pattern>/SignUpEcommerceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEcommerceServlet</display-name>
    <servlet-name>AdminEcommerceServlet</servlet-name>
    <servlet-class>com.controller.AdminEcommerceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEcommerceServlet</servlet-name>
    <url-pattern>/AdminEcommerceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartEcommerceServlet</display-name>
    <servlet-name>CartEcommerceServlet</servlet-name>
    <servlet-class>com.controller.CartEcommerceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartEcommerceServlet</servlet-name>
    <url-pattern>/CartEcommerceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempCartServlet</display-name>
    <servlet-name>TempCartServlet</servlet-name>
    <servlet-class>com.controller.TempCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempCartServlet</servlet-name>
    <url-pattern>/TempCartServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RemoveProductFromCartFilter</display-name>
    <filter-name>RemoveProductFromCartFilter</filter-name>
    <filter-class>filter.RemoveProductFromCartFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RemoveProductFromCartFilter</filter-name>
    <url-pattern>/RemoveProductFromCartFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderEcommerceServlet</display-name>
    <servlet-name>OrderEcommerceServlet</servlet-name>
    <servlet-class>com.controller.OrderEcommerceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderEcommerceServlet</servlet-name>
    <url-pattern>/OrderEcommerceServlet</url-pattern>
  </servlet-mapping>
</web-app>